<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!docker">
        <!-- Local Development - Console only -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <loggerName/>
                    <mdc/>
                    <arguments/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="docker">
        <!-- Docker/Production - Console + Graylog -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <loggerName/>
                    <mdc/>
                    <arguments/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <appender name="GRAYLOG" class="de.siegmar.logbackgelf.GelfUdpAppender">
            <graylogHost>graylog</graylogHost>
            <graylogPort>12201</graylogPort>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>false</includeCallerData>
            <includeRootCauseData>true</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <shortPatternLayout class="de.siegmar.logbackgelf.GelfLayoutPatternLayout">
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="de.siegmar.logbackgelf.GelfLayoutPatternLayout">
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </fullPatternLayout>
            <staticField>service_name:${SERVICE_NAME:-unknown}</staticField>
            <staticField>environment:${SPRING_PROFILES_ACTIVE:-local}</staticField>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="GRAYLOG"/>
        </root>
    </springProfile>

    <!-- Application specific loggers -->
    <logger name="com.example" level="DEBUG"/>
    <logger name="org.springframework.kafka" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>